<div class="global">
    <div class="titulo">
        <h1>EMMA ALONSO</h1>
    </div>
    <div class="list">
        <ul class="navBar">
            <li >Log in
                <img src="./../../../../assets/ICONS/user.svg" alt="">
            </li>
            <li>Home</li>
            <li>Shop Collection</li>
            <li>Our Story</li>
            <li>Contact</li>
            <li>
                <img src="./../../../../assets/ICONS/bolsa.svg" alt="">
            </li>
            
        </ul>
    </div>
</div>
