<div class="global">
    <hr color="black">
  <h3>Emma Alonso</h3>
  <div class="footer-list">
    <div class="sec1">
      <span>Home</span>
      <span>Shop Collection</span>
      <span>Our Story</span>
      <span>Contact</span>
    </div>
    <div class="sec2">
      <span>
          <img src="./../../../../assets/ICONS/facebook.svg" alt="" />
        </span>
      <span>
        <img src="./../../../../assets/ICONS/pinterest.svg" alt="">
      </span>
      <span>
          <img src="./../../../../assets/ICONS/instagram.svg" alt="">
      </span>
    </div>
    <div class="sec3">
      <span>Shipping & Returns</span>
      <span> Store Policy</span>
      <span>Payment Methods</span>
      <span>FAQ</span>
    </div>
  </div>
  <div class="InputZone">
    <h6>Join Our Mailing List</h6>
      <div class="input">
          <input type="text" placeholder="Enter your email here">
          <button type="button" class="btn btn-dark">Subscribe Now</button>
      </div>
      <div class="Rights">
          <span> 2021 by Emma Alonso. Proudly created by Raven It.
        </span>
      </div>
  </div>
</div>
